<%- include("partials/header") %>

<h1><%= newPostTitle %></h1>
<p><%= newPostContent %></p>
<form action="/posts/<%= post._id %>/delete" method="POST">
  <button class="btn lrbutton" type="submit">Delete</button>

  <%- include("partials/footer") %>
</form>
 